.finished {
    padding: 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
}
.finished ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.finished ul li .margin{
    margin-left: 10px;
}
.Success {
    color: rgba(161, 240, 69, 0.7)
}
.error {
    color:rgba(221, 53, 76, 0.973);
}
/* button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background:rgba(247, 246, 246, 0.8);
    border: 1px solid rgb(54, 53, 53);
    border-radius: 5px;
    
} */
img {
    width: 100%;
}